<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.globallogic.procamp.ledcontrolservice">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".LedControlService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.globallogic.procamp.ledcontrolservice.LedControlService" />
            </intent-filter>
        </service>
    </application>

</manifest>