/03-ServicePractice/*/*.iml
/03-ServicePractice/*/.idea/*
/03-ServicePractice/*/.gradle
/03-ServicePractice/*/local.properties
/03-ServicePractice/*/.idea/caches
/03-ServicePractice/*/.idea/libraries
/03-ServicePractice/*/.idea/modules.xml
/03-ServicePractice/*/.idea/workspace.xml
/03-ServicePractice/*/.idea/navEditor.xml
/03-ServicePractice/*/.idea/assetWizardSettings.xml
/03-ServicePractice/*/.DS_Store
/03-ServicePractice/*/build
/03-ServicePractice/*/build/*
/03-ServicePractice/*/captures
/03-ServicePractice/*/.externalNativeBuild

